{% extends 'includes/layout.njk' %}

{% block body %}
  <article 
    class="post h-entry"
    id="post"
    itemscope
    itemtype="http://schema.org/BlogPosting"
  >

  <header class="post-header">
    <div class="post-back">
      <a class="black-link" href="{{ config.root }}">
        ← Home
      </a>
    </div>

    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date }}"
        itemprop="datePublished"
      >
        {{ page.date.format("MMM DD, YYYY") }}
      </time>
      {%- if config.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ config.author | escape }}</span
        ></span
      >
      {%- endif -%}
      {% if theme.busuanzi.enable and theme.busuanzi.post_pv.enable %}
        <span class="busuanzi_container_page">
          <span id="busuanzi_container_page_pv">
            •
          <span id="busuanzi_value_page_pv"></span> View
          </span>
        </span>
      {% endif %}
    </p>
    {%- if page.last_modified_at -%}
    <div class="ant-alert">
      上次更新时间：{{ page.last_modified_at }}
    </div>
    {%- endif %}
  </header>

  <div class="js-toc"></div>

  <div class="post-content" itemprop="articleBody">
    {{ page.content }}
  </div>
  </article>

  <div class="ant-alert mb-0">
    <ul>
      <li>版权声明：本文采用<a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">知识共享 3.0 许可证</a> (<strong>保持署名</strong>-自由转载-非商用-非衍生)</li>
      <li>
        发表于 {{ page.date.format("YYYY-MM-DD") }}{%- if page.last_modified_at -%}，更新于 {{ page.last_modified_at.format("YYYY-MM-DD") }}{%- endif %}
      </li>
    </ul>
  </div>

  <div class="page-navigation">
  {% if page.next %}
  <a class="prev" href="{{ url_for(page.next.path) }}">&laquo; 上一篇</a>
  {% endif %} 
  {% if page.prev %}
  <a class="next" href="{{ url_for(page.prev.path) }}">下一篇 &raquo;</a>
  {% endif %}
  </div> 

  <div id="gitalk-container"></div>
{% endblock %}
